[user]
    name = Derek Straka
    email = derek@asterius.io

[core]
    excludesfile = ~/.gitignore_global
    whitespace = trailing-space,tab-in-indent

[rerere]
    enabled = true

[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = straka.derek@gmail.com
    chainreplyto = false

[diff]
    renames = true

[push]
    default = simple

[credential "https://github.com"]
    username = derekstraka

[color]
    ui = auto
